
/* global style */
/* ============================== */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500&subset=latin,cyrillic,latin-ext);

body {
    /*font-family: open sans,tahoma,sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.no-pad-l {
    padding-left: 0;
}

.no-pad-r {
    padding-right: 0;
}

.no-pad {
    padding: 0;
}

.logo {
    max-width: 200px;
    padding: 2px 5px;
}

.pad-30 {
    padding: 30px;
}

.pad-20 {
    padding: 20px;
}

.pad-10 {
    padding: 10px;
}

body a, body a:focus {
    outline: none;
}

a img {
    border: none;
    width: 100%;
}

a {
    color: #424242;
}

    a:focus, a:hover {
        text-decoration: none;
        color: black;
    }

input, button {
    outline: none;
}

script {
    display: none !important;
}

select {
    padding: 4px;
    border: 1px solid #e2e2e2;
}

strong {
    font-weight: normal;
}
/* Top link */
/* ============================== */
.top-links-area ul li {
    display: inline-block;
    padding-left: 13px;
    padding-right: 10px;
}

.top-links-area {
    text-align: right;
}

.top-container {
    background-color: #eee;
    padding: 5px 0;
    border-top: 2px solid;
}

    .top-container a {
        color: black;
        text-decoration: none;
    }

    .top-container .phone span {
        font-weight: 500;
    }

.top-links-area ul li:not(:first-child) {
    border-left: 1px solid #BDBDBD;
}

/* top header */
/* ========================= */
.top-header .clearfix.search-palce form > * {
    display: inline-block;
}

.top-header .clearfix.search-palce input[type="text"] {
    width: 75%;
    padding: 7px;
    vertical-align: baseline;
    border-style: inset;
    border-width: thin;
}

.top-header .clearfix.search-palce button {
    padding: 8px 12px;
    margin-left: -4px;
    background-color: #FF8219;
    border-style: none;
    color: white;
}

.top-header .clearfix.search-palce {
    text-align: center;
    padding-top: 14px;
}

.top-header .icon-header-right {
    text-align: right;
}

    .top-header .icon-header-right i {
        font-size: 33px;
        padding: 13px 20px;
    }

/* menu */
/* =========================== */
.btn-shower i {
    font-size: 20px;
    padding: 8px 10px;
    color: white;
    padding-bottom: 10px;
}
.shower .header-links ul li {
    border-bottom: 1px solid #e6e6e6;
}
.btn-shower {
    border-bottom: 1px solid #e2e2e2;
    background-color: #FF8219;
    color: white;
}
.btn-shower:after {
    display: inline-block;
    position: absolute;
    right: 15px;
    margin-top: 11px;
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0da";
    cursor: pointer;
}
.shower .header-links ul li a {
    display: block;
}
.header-menuV2 .menu-wrapper ul li:hover .sub-menu-content ul li .heading a {
    text-transform: uppercase;
    font-weight: 500;
}

.top-menu.menu li.li-menu:not(.view-all) .sub-menu-content li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding: 0;
    margin: 0;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
}

li.li-menu .sub-menu-content ul li a {
    padding-left: 4px;
    padding-bottom: 0px !important;
}

.top-menu.menu li.li-menu:not(.view-all) .sub-menu-content ul li {
    padding-left: 10px;
    display: block;
}

.view-all .sub-menu-content ul li a {
    font-size: 13px;
}

.view-all .sub-menu-content ul > ul > li a, .view-all .sub-menu-content ul.sub-menu-cat li a {
    font-size: 12px;
    text-transform: none;
    font-weight: 100;
    padding: 0 10px 0;
    padding-bottom: 0 !important;
}

.logo img {
    width: 100%;
}

.mobile-menu i {
    font-size: 20px;
}

.mobile-menu {
    width: 30px;
    padding: 5px;
    text-align: center;
    margin-left: 0;
    position: absolute;
    top: 14px;
    cursor: pointer;
    z-index: 2;
}

.header-menuV2 {
    padding-bottom: 14px;
}

.menu-wrapper .sub-menu-content {
    position: absolute;
    top: 62px;
    right: 0;
    max-width: 100%;
    border: 0;
    background-color: #fff !important;
    border-radius: 0;
    padding: 5px 0 5px 5px;
    min-width: 160px;
    min-height: 371px;
    box-shadow: 0 2px 10px -2px rgba(0,0,0,.9);
    border-top: 3px solid #b5a9b7;
    border-bottom: 3px solid #b5a9b7;
    opacity: 0;
    display: none;
}

.menu-wrapper a:hover {
    text-decoration: none;
}

.category-item {
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.menu-wrapper {
    position: relative;
}

.header-menuV2 .menu-wrapper ul li {
    display: inline-table;
}

    .header-menuV2 .menu-wrapper ul li a {
        padding: 10px;
        color: black;
        display: inline-table;
        text-transform: uppercase;
        border-top: 2px solid transparent;
        font-size: 12px;
        font-weight: 500;
    }

    .header-menuV2 .menu-wrapper ul li.view-all a {
        background-color: #FF8219;
        color: white;
        cursor: pointer;
    }

    .header-menuV2 .menu-wrapper ul li.view-all .sub-menu-content a {
        color: black;
        background-color: transparent;
    }

    .header-menuV2 .menu-wrapper ul li.view-all .sub-menu-content ul li a:after,
    .header-menuV2 .menu-wrapper ul li .sub-menu-content ul li a:after {
        display: none;
    }

.sub-menu-content .container {
    padding-left: 0;
}

.menu-wrapper ul.menu {
    background-color: #eee;
}

/* slider */
/* ========================== */
.hotlist {
    padding-bottom: 30px;
}

.container-slick {
    position: relative;
}

.content-slider img {
    width: 100%;
}
/* navy */
.nav-slide-home {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 40%;
    font-size: 22px;
}

    .nav-slide-home .prev, .nav-slide-home .next {
        position: absolute;
        cursor: pointer;
    }

    .nav-slide-home .prev {
        left: 0;
    }

    .nav-slide-home .next {
        right: 0;
    }
/* style slick dots */
/* ========================== */
/*.content-slider {
    overflow: hidden;
}*/
.content-slider li.slick-active {
    background-color: #FF8219 !important;
}

.content-slider .slick-dots {
    bottom: 0;
}

.content-slider li button:before {
    content: '';
}

.container-slick ul.slick-dots li {
    display: inline-table;
    border: 1px solid rgba(238, 238, 238, 0.6);
    background-color: rgba(255, 130, 25, 0.4);
}

    .container-slick ul.slick-dots li:last-child {
        border-right: 1px solid rgba(238, 238, 238, 0.6);
    }

.container-slick ul.slick-dots li {
    /*width: 25%;
    height: 50px;*/
    margin: 0;
}

.slick-onbody ul.slick-dots li {
    background-color: bisque;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
/*.container-slick ul.slick-dots li.slick-active .tab:before {
    content: '';
    display: block;
    height: 25px;
    width: 30px;
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    border-color: transparent transparent #FFFFFF transparent;
}*/

/* produk list */
/* ====================== */
.product-list-type1 {
    margin-bottom: 25px;
}

.product-content-type1.clearfix > * {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}

.product-list-type1 .product-content-type1 {
    padding: 10px;
    border: 1px solid #eee;
    border-top: 2px solid #56006b;
}

.product-list-type1 .product-content-type1 {
    padding: 10px;
    border: 1px solid #eee;
    border-top: 2px solid #FF8219;
    text-align: center;
    padding-bottom: 0;
}

.product-list-type1 .list-product-left {
    border: 1px solid #e2e2e2;
    /* width: 200px; */
    margin-bottom: 10px;
}

    .product-list-type1 .list-product-left .title1 a {
        padding: 14px 0;
        background-color: #FF8219;
        color: white;
        border-bottom: 1px solid #e2e2e2;
        text-transform: uppercase;
        display: block;
    }

    .product-list-type1 .list-product-left .body1 ul li {
        padding: 12px;
    }

        .product-list-type1 .list-product-left .body1 ul li:not(:last-child) {
            border-bottom: 1px solid #e2e2e2;
        }

/* product slick */
/* ======================= */
.slick-onbody {
    padding-left: 10px;
    margin-bottom: 0;
}

    .slick-onbody .slick-dots {
        bottom: 0;
    }

.product-slick .item-produk-slick img {
    width: 100%;
}

.slick-onbody .slick-dots li.slick-active .tab {
    background-color: rgba(0, 0, 0, 0.49);
}

.slick-onbody .slick-dots li .tab {
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.slick-onbody .slick-slider {
    margin-bottom: 0;
}
/* product box */
/* ======================== */
.box-product {
    padding-left: 5px;
}

    .box-product .item-grid > * {
        margin-bottom: 5px;
        border: 1px solid #e2e2e2;
        padding: 0;
        position: relative;
        width: 49%;
        display: inline-block;
    }

    .box-product .img-box-product {
        width: 109px;
        margin: 0 auto;
    }

        .box-product .img-box-product img {
            width: 100%;
        }

.diskon {
    background: #FF8219;
    height: 38px;
    position: absolute;
    width: 32px;
    color: #fff;
    font-size: 12px;
    padding-top: 6px;
    line-height: 16px;
    left: 7px;
    top: -1px;
    z-index: 0;
    text-align: center;
}

.baner:before, .baner:after {
    border-top: 15px solid #FF8219;
    bottom: -15px;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
}

.baner::after {
    border-right: 25px solid transparent;
    left: 0;
}

.baner:before {
    border-left: 25px solid transparent;
    right: 0;
}

.desc-box-product .title-product {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    font-size: 13px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-box-product input[type="button"] {
    display: inline-block;
    height: 40px;
    border: none;
    vertical-align: middle;
}

.item-box-product .product-box-add-to-cart-button {
    width: 60%;
    background-color: #FF8219;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

    .item-box-product .product-box-add-to-cart-button:hover {
        background-color: #248ece;
    }

.item-box-product .add-to-compare-list-button {
    background-image: url('../images/compare-button.png');
}

.item-box-product .add-to-wishlist-button {
    background-image: url('../images/wishlist-button.png');
}

.item-box-product .add-to-compare-list-button, .item-box-product .add-to-wishlist-button {
    width: 20%;
    border-left: 1px solid #fff !important;
    background-color: #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
}

.item-box-product .description {
    display: block;
    white-space: normal;
}

.title-product a {
    color: #898989;
}

.item-box-product .add-info .buttons {
    margin-bottom: 0;
}

.item-box-product input[type="button"]:not(:first-child) {
    margin-left: -4px;
}

.rating {
    background: url('../images/rating1.png') repeat-x;
    width: 95px;
    height: 14px;
}

    .rating div {
        background: url('../images/rating2.png') repeat-x;
        height: 14px;
    }

.product-rating-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #eee;
    padding: 3px;
    left: 0;
}

    .product-rating-box .rating {
        float: right;
    }

.product-box-add-to-cart-button:hover {
    background-color: #248ece;
}

.title-product {
    font-size: 13px;
    padding: 4px;
    margin: 0;
    display: inline;
}

.slick-desc {
    max-height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9f9f9f;
}

.price-product .strip {
    font-size: 12px;
    color: #f12c23;
    font-weight: 400;
    text-decoration: line-through;
    padding-right: 2%;
}

.price-product .price {
    font-size: 16px;
    font-weight: 700;
    color: #333;
}

.price-product {
    text-align: center;
    display: block;
}

.product-list-type1 .fix-width {
    height: 102px;
    width: 115px;
    margin-top: 6px;
    overflow: hidden;
}

    .product-list-type1 .fix-width img {
        left: 0;
        right: 0;
    }
/* top category */
/* ======================== */
.title-topc {
    background: url(../images/img_sementara/line.png) right no-repeat;
    font-weight: 300;
    margin: 13px 0px 15px 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
}

    .title-topc span.content {
        display: inline-block;
        background-color: white;
        padding-right: 15px;
    }

.top-heading {
    height: 45px;
}

ul.top-cat > * {
    display: inline-block;
    padding: 5px 10px;
    width: 24%;
}

.top-cat .top-heading a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
/*.cat-icon {
    background-image: url(../images/img_sementara/categories.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
	height: 45px;
	vertical-align: middle;
}
.cat-icon.t1 {
    background-position: -83px 0;
}
.cat-icon.t2 {
    background-position: -167px 0;
}
.cat-icon.t3 {
    background-position: -248px 0;
}*/
ul.sub-top-cat li {
    line-height: 26px;
}

ul.sub-top-cat {
    padding-left: 6px;
}

    ul.sub-top-cat li:not(:last-child)::before {
        content: "\f105";
        display: inline;
        font: normal normal normal 14px/1 FontAwesome;
        padding-right: 11px;
    }

/* slick sltop selleing */
/* ============================== */
.categiry-product {
    float: none;
}

.produk-slick {
    margin: 0;
}

.product-slick {
    background-color: #e2e2e2;
    padding: 10px;
}

    .product-slick .item-produk-slick {
        background-color: white;
        margin: 0 5px;
        padding: 10px;
        border-bottom: 3px solid transparent;
    }

        .product-slick .item-produk-slick img {
            margin: 0 auto;
        }

.price-product .diskon {
    background-color: #ff0027;
    border-radius: 2px;
    color: #fff !important;
    display: inline;
    font-size: 12px;
    margin-left: 4px;
    padding: 0px 3px 0 2%;
    font-weight: 700;
}

.product-slick .item-produk-slick:hover {
    box-shadow: 0 0px 5px 0px #8a8787;
    border-bottom: 3px solid #ff0027;
}
/* sell on indotrading */
/* =========================== */
.register {
    background-color: black;
    margin-top: 30px;
    color: white;
    padding: 30px 0 50px 0;
    text-align: center;
    margin-bottom: 35px;
}

    .register .title-t1 {
        font-size: 50px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    .register p {
        font-size: 21px;
        padding-bottom: 20px;
    }

    .register a.btn-regis {
        padding: 12px 30px;
        font-weight: 500;
        background: #FF8219;
        color: white;
        text-decoration: none;
        display: inline-block;
    }

.box-info {
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #e2e2e2;
    padding: 10px;
    margin-bottom: 40px;
}

.blog-posts .buttons .read-more, .news-items .buttons .read-more {
    display: inline-block;
    border: none;
    background-color: #FF8219;
    padding: 10px 20px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

.news-item {
    padding: 10px;
}

.news-body {
    padding-bottom: 15px;
}

.news-list-homepage .view-all {
    text-align: center;
}

.flyout-cart {
    display: none;
}

.home-page-polls {
    text-align: center;
    padding-bottom: 20px;
}

    .home-page-polls .title {
        border-bottom: 1px solid #ddd;
        color: #444;
        font-size: 30px;
        font-weight: normal;
        margin: 0 0 30px;
        padding: 0 0 15px;
    }

.poll strong {
    display: block;
    margin: 10px 0;
    background-color: #f6f6f6;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    color: #444;
    text-transform: uppercase;
}

.poll-options, .poll-results {
    margin: 10px 0 15px;
    overflow: hidden;
    font-size: 15px;
    color: #444;
}

.poll .buttons input {
    border: none;
    background-color: #aaa;
    padding: 10px 20px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
}

.home-page-polls li {
    min-width: 100px;
}

.home-page-polls li {
    display: inline-block;
    margin: 10px;
}
.slick-active .category-item h2.title {
    margin: 0;
    border-bottom: 1px solid #E2e2e2;
}
.category-item .picture.fix-width img {
    padding: 40px;
}
/* footer */
/* ======================= */
.news-title {
    display: inline-block;
    padding: 20px 10px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.post-date, .news-date {
    display: block;
    margin: 0 0 15px;
    background-color: #f6f6f6;
    padding: 10px;
    font-style: italic;
    color: #444;
}

.footer-lower .container > * {
    display: inline-block;
    text-align: right;
    float: right;
}

.footer-lower {
    background-color: #0f0f0f;
    min-height: 50px;
    line-height: 40px;
}

.footer-upper {
    padding: 40px 0;
}

.sec-footer {
    padding: 40px 0 0px 0;
    background-color: #121214;
    color: white;
    border-top: 13px solid #FF8219;
}

    .sec-footer a {
        color: white;
        text-decoration: none;
    }

.title {
    font-size: 16px;
    padding-bottom: 12px;
}

.contact-us li::before {
    content: "\f0da";
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 10px;
}

.contact-us li {
    padding-bottom: 11px;
    font-size: 13px;
}

.email-us {
    /*color: #b4b4b4;*/
}

    .email-us li:first-child {
        padding-bottom: 11px;
    }

    .email-us .input-email {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #ddddc2;
        border-style: inset;
        padding: 5px;
        color: black;
        width: 60%;
        vertical-align: inherit;
    }

    .email-us .btn-email {
        margin-left: -5px;
        color: white;
        font-size: 15px;
        background-color: #FF8219;
        border-style: none;
        padding: 7px 10px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 40%;
    }

ul.list-cat > * {
    display: inline-block;
}

ul.list-cat li:not(:last-child) {
    border-right: 1px solid;
    padding: 0 14px;
    line-height: 12px;
}

.bloked > * {
    display: initial;
}

.bloked {
    display: inline-block;
    width: 100%;
}

.footer-list-cat > * {
    display: inline;
}

.footer-list-cat .title-footer {
    font-size: 16px;
}
/* sec bottom */
/* ==================== */
.logo-client img {
    width: 100%;
}

.sec-bottom .container > * {
    display: inline-table;
}

.sec-bottom a {
    color: black;
    padding: 10px;
}

.sec-bottom {
    background-color: black;
    padding: 5px 0;
}

.icon-sosmed > * {
    display: inline-block;
    font-size: 22px;
    background-color: #e7e4e4;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    overflow: hidden;
    margin-left: 6px;
}

/*sosial*/
/*======================*/
.follow-us .social ul {
    margin: 0 0 30px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 30px;
    font-size: 0;
}

.follow-us .social .facebook a {
    background-position: 0 0;
}

.follow-us .social a {
    display: block;
    width: 38px;
    height: 38px;
    background: url('../images/social-sprite.png') no-repeat;
    font-size: 0;
}

follow-us .social ul {
    margin: 0 0 30px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 30px;
    font-size: 0;
}

.follow-us .social .twitter a {
    background-position: -38px 0;
}

.follow-us .social .rss a {
    background-position: -76px 0;
}

.follow-us .social .youtube a {
    background-position: -114px 0;
}

.follow-us .social .google-plus a {
    background-position: -152px 0;
}

.follow-us .social li {
    display: inline-block;
    margin: 0 5px;
}

.icon-card > * {
    display: inline-block;
}

.icon-sosmed li a i {
    margin-left: -4px;
}

.icon-card > * {
    height: 20px;
    width: 50px;
    display: inline-block;
}

.icon-card li a {
    height: 25px;
    width: 50px;
    display: inline-block;
    background: url(img/sprit.png) no-repeat;
    background-size: 230px;
}

.icon-card {
    padding-left: 20px;
}

    .icon-card li a.c1 {
        background-position: 0px -190px;
    }

    .icon-card li a.c2 {
        background-position: -53px -190px;
    }

    .icon-card li a.c3 {
        background-position: -106px -190px;
    }

    .icon-card li a.c4 {
        background-position: -160px -190px;
    }

.ccopy {
    line-height: 30px;
    vertical-align: middle;
    float: right;
    color: #6f6f6f;
}

/*modifikasi stylev2 nopecomerce*/
/*===========================================*/
.top-container .header-links a, .top-container .header-links span {
    line-height: 20px;
    text-transform: none;
}

.top-container select {
    min-width: 70px;
    height: 22px;
    padding: 0 8px;
}

.top-container #topcartlink {
    background-color: transparent;
}

/*Category product*/
/*===========================*/
.fix-width {
    height: 200px;
    overflow: hidden;
    position: relative;
}

    .fix-width.box-cat {
        height: 150px;
        background-color: white;
    }

    .fix-width img {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
    }

.categiry-product img {
    width: 100%;
}

.page-title h1 {
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

.category-grid {
    background-color: #fcfcfc;
    padding: 10px;
    border: 1px solid #e2e2e2;
    background-color: white;
}

.product-list .product-item > * {
    display: inline-block;
}

.product-list .desc-box-product {
    width: 75%;
}

.filter-title {
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid #e2e2e2;
}

.available-items > * {
    width: 50%;
    float: left;
    padding: 10px;
}

.group.product-spec-group > *:not(:first-child)::before {
    content: "\f101";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
}

.product-list .width-col {
    margin: 10px 0;
    border: 1px solid #e2e2e2;
}

.product-list .product-item .img-box-product {
    max-width: 50%;
    width: 200px;
}

.product-list .diskon.baner, .product-grid .diskon.baner {
    display: none;
}

.category-mobile.master-column-wrapper.clearfix {
    padding-bottom: 20px;
}

.side-2.col-sm-3:first-child {
    /*border-top: 1px solid #e2e2e2;*/
}

.side-2 .block-recently-viewed-products li::before {
    display: none !important;
}
.heightshow.xi {
    height: auto;
}
.heightshow {
    height: 165px;
    overflow: hidden;
    background-color: #f2f2f2;
    margin: 0 0 15px 0;
}

.category-page .product-selectors {
    margin: 15px -10px 0 -10px;
}

.showmorecat {
    text-align: center;
    border: 1px solid #e2e2e2;
    padding: 2px 0;
    color: #ff8219;
    background-color: white;
    cursor: pointer;
    display: block;
}
/*footer*/
/*============================*/
.footer-block.item-sec {
    width: 100%;
}

.footer-block .list li::before {
    content: "\f0da";
    display: inline;
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 3px;
    color: #FF7704;
}

/*detail produk*/
/*==================*/
.product-details-page .related-products-grid.product-grid.clearfix .item-boxV2 {
    float: none;
    background-color: white;
}

.product-name-p h1 {
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 10px;
}

.product-essential .overview.overview.detail-p {
    border: 0;
    background-color: transparent;
}

.item-boxV2 {
    margin: 0;
    padding: 10px;
    border: 1px solid #e6e7e9;
    float: left;
    position: relative;
}

.product-variant-line {
    padding: 20px 0;
}

.filter-content.clearfix {
    border: 1px solid #e2e2e2;
    border-top: none;
}

.item-box-product {
    margin-bottom: 10px;
}

/*detail produk*/
/*==================*/
.slick-related button.slick-prev {
    position: absolute;
    left: 5px;
    top: 10px;
    height: 100%;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.08);
}

.slick-related button.slick-next {
    position: absolute;
    right: 5px;
    top: 10px;
    height: 100%;
    width: 30px;
    background-color: rgba(0, 0, 0, 0.08);
}

.slick-related .col-sm-3 {
    padding-right: 5px;
    padding-left: 5px;
}

.item-boxV2 .img-box-product img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.slick-related .item-boxV2 .product-item .img-box-product {
    height: 120px;
    overflow: hidden;
    position: relative;
}

.tab-des-content ul li {
    width:100%;
    text-align: center;
}

.detail-p .product-name {
    position: relative;
    padding: 10px;
    background-color: #FF8219;
    color: white;
    display: inline-block;
    padding-left: 40px;
    left: -30px;
    margin-bottom: 5px;
    padding-right: 20px;
    margin-top: 20px;
}

    .detail-p .product-name h1 {
        border-bottom: none;
        padding: 0;
    }

    .detail-p .product-name:after {
        content: '';
        display: block;
        width: 20px;
        position: absolute;
        right: -20px;
        top: 0;
        border-width: 20px 0 20px 13px;
        border-style: solid;
        border-color: transparent transparent transparent #FF8219;
    }

    .detail-p .product-name:before {
        content: '';
        display: block;
        width: 20px;
        position: absolute;
        left: 0px;
        bottom: -39px;
        border-width: 20px 0 20px 20px;
        border-style: solid;
        border-color: #CE630A transparent transparent transparent;
    }

.detail-p .short-description {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
}

.listen i.fa {
    font-size: 20px;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
}

.listen {
    display: block;
    position: relative;
    padding-left: 45px;
}

.info .title {
    font-size: 13px;
    font-weight: 500;
}

.info .listen p {
    font-size: 13px;
}
/*breadcumb*/
/*========================*/
.breadcrumb li {
    display: inline-block;
}

.container .breadcrumb {
    background-color: transparent;
    padding: 8px 0;
}

.breadcrumb li span {
    padding-right: 5px;
}

    .breadcrumb li span:not(:first-child) {
        color: black;
    }

.breadcrumb li span {
    padding-right: 5px;
    text-transform: uppercase;
    color: #B3B3B3;
}

.breadcrumb li strong.current-item {
    text-transform: uppercase;
}

.breadcrumb li > :first-child {
    padding-right: 8px;
    text-transform: uppercase;
    color: #B3B3B3;
}

.breadcrumb li:last-child > strong {
    color: black;
}
/*.container .breadcrumb li {
    display: inline-block;
    background-color: #ff8219;
    color: #fff;
    padding: 5px 5px 5px 13px;
    position: relative;
    margin: 0 3px
}
.container .breadcrumb ul li a {
    color: #fff
}
.container .breadcrumb {
    background-color: transparent;
    padding-left: 0
}
.container .breadcrumb li:nth-child(1) {
    margin-left: 0
}
.container .breadcrumb li:nth-child(1):before {
    display: none
}
.container .breadcrumb li::before {
    border-color: #ff8621 transparent transparent transparent
}
.container .breadcrumb li::after {
    border-color: transparent transparent #ff8621 transparent
}
.container .breadcrumb li:before {
    content: '';
    display: inline;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-color: #fff;
    border-width: 30px 0 0 10px;
    border-style: solid
}
.container .breadcrumb li:after {
    content: '';
    display: inline;
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 15px;
    background-color: #fff;
    border-width: 0 10px 30px 0;
    border-style: solid
}
.container .breadcrumb li:last-child:after {
    border-width: 15px 0 15px 10px;
    border-style: solid;
    border-color: transparent transparent transparent #ff8219;
}
.container .breadcrumb li:last-child:before {
    border-color: #ff8219 transparent transparent transparent;
}
.container .breadcrumb li:last-child {
    background-color:#ff8219;
}*/

/*left content*/
/*===========================*/
.tags ul > * {
    display: inline-block;
    padding: 5px;
    font-size: medium;
}

.side-2 .title {
    background-color: #f5f5f5;
    padding: 5px;
    font-weight: 100;
    border: 1px solid #e2e2e2;
    border-bottom: 0;
    border-top: 0;
}

.side-2 .listbox {
    padding: 5px;
}

.side-2.col-sm-3 {
    padding: 0;
}

.product-selectors > * {
    display: inline-block;
}

.center-2 .sub-category-item {
    border: 1px solid #e2e2e2;
}

.block-category-navigation .title {
    border-top: 1px solid #E2E2E3;
}

.sub-category-item .title {
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: white;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-selectors {
    padding: 10px 10px;
    line-height: 32px;
    background-color: #e2e2e2;
}

    .product-selectors .product-viewmode a.grid {
        background-image: url('../images/view-grid.png');
    }

    .product-selectors .product-viewmode a.list {
        background-image: url('../images/view-list.png');
    }

    .product-selectors .product-viewmode a {
        display: inline-block;
        width: 24px;
        height: 32px;
        margin: 0 0 0 12px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
    }

        .product-selectors .product-viewmode a.selected {
            opacity: 1;
        }

    .product-selectors .product-viewmode {
        display: inline-block;
        float: right;
        overflow: hidden;
        height: 35px;
    }

.product-grid .item-box {
    position: relative;
    border: 1px solid #e2e2e2;
}

.side-2 .listbox li::before {
    content: "\f0da";
    display: inline;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    padding: 5px;
}

.side-2 .product-picture img {
    width: 100%;
}

.side-2 .block.block-recently-viewed-products > :nth-child(2) {
    text-align: center;
}

.block-popular-tags .listbox li::before {
    display: none;
}

.no-data {
    padding: 20px;
    min-height: 200px;
    border: 1px solid #e2e2e2;
    text-align: center;
}
/*detaill product*/
/*==================================*/
.desc-box-product .add-info {
    background-color: #E2E2E2;
    padding: 8px;
}

.picture-thumbs a.thumb-popup-link.slick-slide {
    border: 1px solid #e2e2e2;
    margin: 0 5px;
}

.download-sample a {
    background-color: #121214;
    color: white;
    display: inherit;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 20px;
}

.page.product-details-page .desc-box-product .add-info {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.gallery .picture img {
    width: 100%;
    border: 1px solid #e2e2e2;
}

.gallery .picture-thumbs {
    margin: 0;
}

.gallery .picture {
    padding: 10px;
}

.related-produk {
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.desc-p p {
    text-align: center;
}

.images-p {
    width: 205px;
    margin: 0 auto;
}

.judul {
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.overview .add-to-cart-button, .variant-overview .add-to-cart-button {
    height: 36px;
    border: none;
    background-color: #121214;
    padding: 0 24px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.overview-buttons {
    margin: 15px 0 0px;
    font-size: 0;
}

    .overview-buttons div {
        display: inline-block;
        width: auto;
        margin: 0 1px 2px;
    }

.overview .add-to-wishlist-button, .variant-overview .add-to-wishlist-button {
    background-image: url('../images/wishlist-button.png');
}

.overview .add-to-compare-list-button {
    background-image: url('../images/compare-button.png');
}

.overview .email-a-friend-button {
    background-image: url('../images/email-button.png');
}

.overview .button-2, .variant-overview .button-2 {
    display: block;
    width: 100%;
    border: none;
    background-color: #eaeaea;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px 15px 8px 40px;
    text-align: left;
    font-size: 14px;
    color: #666;
}

.overview .qty-input, .variant-overview .qty-input {
    width: 35px;
    height: 35px;
    padding: 0 12px;
    text-align: center;
    font-size: 15px;
    color: #444;
    border: 1px solid #e2e2e2;
}

.add-to-cart-panel .button-1.add-to-cart-button {
    margin-left: -4px;
}

.product-essential .overview {
    padding: 10px;
    border: 1px solid #e2e2e2;
    background-color: rgba(245, 245, 245, 0.39);
    line-height: 28px;
    padding-bottom: 25px;
}

.label {
    color: #959595;
}

.product-name h1 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
}

.title-desc, .product-tags-box .title, .product-specs-box .title {
    font-size: 18px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.add-to-cart-panel {
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}

.product-share-button {
    margin-top: 20px;
}

.tab-des-content .tab-content {
    padding: 20px;
    border: 1px solid #e2e2e2;
    border-top: 0;
}

.tab-des-content {
    margin: 20px 0;
}

    .tab-des-content ul.nav.nav-tabs {
        background-color: #EAEAEA;
    }

    .tab-des-content ul li a {
        margin-right: 0;
        font-weight: 500;
        border-left: 1px solid #D4D4D4;
    }

    .tab-des-content .nav-tabs > li.active a, .tab-des-content .nav-tabs > li > a:hover {
        cursor: default;
        background-color: rgb(255, 255, 255);
        border-bottom: 3px solid #FF8219;
        color: #FF8219;
        font-weight: 500;
        border-radius: 0;
    }

    .tab-des-content .nav-tabs > li > a:hover {
        cursor: pointer;
    }
/*product tag*/
/*========================*/
.page.product-tag-page .item-boxV2 {
    float: none;
}

.product-tags-box, .product-specs-box {
    padding: 10px;
    border: 1px solid #e2e2e2;
}

    .product-specs-box .table > tbody > tr > td {
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }

.produktag .product-tags-box {
    border: 0;
}

    .produktag .product-tags-box .title {
        border-bottom: 0;
        margin-bottom: 0;
    }

        .produktag .product-tags-box .title strong {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
        }

.related-products-grid .desc-box-product .title-product {
    display: inline;
    max-width: 240px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.related-products-grid.product-grid.clearfix {
    padding: 10px 15px;
}

    .related-products-grid.product-grid.clearfix .title strong {
        font-size: 18px;
        font-weight: 500;
        margin: 5px;
    }

.tab-des-content .product-specs-box {
    border: 0;
    padding: 0;
}

.produktag .product-tags-box {
    border: 0;
    padding-top: 20px;
    border-top: 2px solid #e2e2e2;
    margin-top: 30px;
    padding-left: 0;
}

.produktag .product-tags-list {
    padding-left: 10px;
}

    .produktag .product-tags-list li {
        padding: 2px 0;
    }

.product-details-page .related-products-grid.product-grid .title {
    padding-bottom: 6px;
}
/*login*/
/*===================*/
.page.login-page .input-group span.field-validation-error span {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    color: red;
}

.returning-wrapper.fieldset .buttons {
    display: inline-block;
}

.page.login-page .page-title h1, .page.registration-page .page-title h1 {
    border: none;
    border-bottom: 3px double #E0E0E0;
    background-color: transparent;
    font-size: 20px;
}

.page.login-page .page-title, .page.registration-page .page-title {
    padding: 10px;
    text-align: center;
}

.page.login-page .page-body {
    padding: 10px 10px 30px 10px;
}

.iner-login .input-group i.fa {
    font-size: 17px;
}

.iner-login, .iner-reg {
    /*background-color: #FFFFFF;*/
    min-height: 430px;
    /*box-shadow: 0 0 5px 5px rgba(33, 24, 24, 0.11);*/
    border-radius: 3px;
    padding: 10px 10px 40px;
}

.page.login-page .inputs input {
    width: 100%;
    border-style: solid;
    border-width: thin;
    border-color: #e2e2e2;
    padding: 5px;
    background-color: rgba(238, 238, 238, 0.43);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.page.login-page .input-group span {
    width: 40px;
    background-color: #FF8219;
    color: white;
    display: table-cell;
}

.page.login-page .input-group {
    margin-top: 20px;
    width: 100%;
}

.page.login-page .inputs input[type="checkbox"] {
    display: inline-block;
    width: inherit;
}

.page.login-page .inputs label {
    padding-top: 20px;
    color: #94908D;
    font-size: 12px;
}
.ui-dialog {
    position: absolute;
    top: 70px !important;
}
.iner-login {
    outline: none;
}
.iner-reg .inputs input[type=text], .iner-reg .inputs input[type=password] {
    width: 230px;
}
.iner-reg select#CountryId {
    width: 230px;
}

.buttons.logg input.button-1.login-button {
    background-color: #FF8219;
    border-style: none;
    padding: 5px;
    display: block;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px -2px black;
    width: 100%;
}

.buttons.regg input.button-1.register-button {
    background: transparent;
    border-style: none;
    color: #2196F3;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 3px -2px #2196F3;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.returning-wrapper.fieldset .btn-logg .buttons {
    display: inline;
}

.btn-logg {
    display: block;
    padding-top: 30px;
}

span.forgot-password a {
    color: #EF7C1C;
}
/*register*/
/*====================*/
.inputs > * {
    display: inline-block;
}

.iner-reg .page-body {
    padding: 10px;
}

.inputs > label {
    width: 130px;
    color: #9A9A9A;
}

.gender label {
    color: black;
    font-weight: normal;
}

.iner-reg .inputs input {
    border: 1px solid #e2e2e2;
    padding: 5px;
}

.buttons input.button-1.register-next-step-button {
    background-color: #FF8219;
    border-style: none;
    padding: 5px;
    display: block;
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 3px -2px black;
    width: 100%;
    margin-top: 20px;
}

.iner-reg .inputs.date-of-birth {
    line-height: 0px;
}

span.field-validation-error {
    color: red;
}

.iner-reg .inputs {
    padding-bottom: 10px;
}

/*contct us*/
/*=================*/
.contact-page .input-group .form-control {
    z-index: inherit;
    /*border-left: 0;*/
}

.contact-page .input-group-addon:first-child {
    width: 40px;
}

.contact-page span.input-group-addon {
    display: table-cell;
    color: #ff8219;
    background-color: transparent;
}

.input-group input.form-control {
    box-shadow: none;
}

    .input-group input.form-control:focus {
        border-color: #ccc;
    }

.contact-page .input-group {
    width: 100%;
    margin-bottom: 10px;
}

.contact-page .page-title h1 {
    padding: 10px 0;
}

.contact-page .inputs {
    padding: 2px 0;
}

    .contact-page .inputs input, .contact-page .inputs textarea {
        width: 100%;
        padding: 5px;
    }

.contact-page .topic-block p {
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid;
}

textarea:focus {
    outline: none;
}

.iner_addr ul li {
    font-size: 14px;
    line-height: 30px;
}

    .iner_addr ul li > * {
        display: table-cell;
    }

.adress-us h2 {
    margin-top: 6px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 10px;
}

.iner_addr ul li i {
    width: 28px;
    font-size: 18px;
    text-align: center;
}

.contact-page .inputs textarea {
    min-height: 173px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.contact-page .buttons {
    text-align: left;
    padding: 10px 0px 4px 0px;
}

.buttons .button-1.contact-us-button {
    width: 100%;
    padding: 8px 15px;
}

.divcenter.clearfix .fieldset {
    border-right: 1px solid #d0d0d0;
}

.page.contact-page {
    padding-bottom: 30px;
    padding-top: 15px;
}

.inputs .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.adress-us {
    color: #12BD46;
    padding: 20px;
}

    .adress-us .iner_addr ul li > :first-child {
        display: block;
        padding: 0;
        margin: 0;
    }

    .adress-us .iner_addr ul li > :nth-child(2) {
        padding-left: 32px;
    }
/*wishlish*/
/*=================================*/
.cart th, .data-table th, .forum-table th {
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #ddd;
    background-color: #f6f6f6;
    padding: 10px;
    white-space: nowrap;
    font-weight: normal;
}

table {
    width: 100%;
}

.cart td.quantity input {
    width: 35px;
    text-align: center;
}

.cart td.quantity, td.unit-price, td.subtotal {
    text-align: center;
}

.table-wrapper {
    overflow-x: auto;
}

.cart td, .data-table td, .forum-table td {
    min-width: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #ddd #ddd;
    background-color: #fff;
    padding: 0;
    color: #444;
}

.add-to-cart, .remove-from-cart {
    text-align: center;
}

.product-picture img {
    width: 100px;
}

.wishlist-content .button-2 {
    display: inline-block;
    width: auto;
    min-width: 140px;
    margin: 0 1px 5px;
}

.wishlist-content .table-wrapper {
    margin: 0 0 30px;
}

.wishlist-content .update-wishlist-button, .wishlist-content .wishlist-add-to-cart-button {
    background-color: #FF8219;
    text-transform: uppercase;
}

.common-buttons .button-2 {
    color: white;
    text-transform: inherit;
    background-color: #FF8219;
    padding: 10px 20px;
    border-style: none;
}

.wishlist-content .button-2 {
    display: block;
    width: 250px;
    margin: 0 auto 3px;
    border: none;
    padding: 10px 25px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    color: #fff;
}

.wishlist-content .email-a-friend-wishlist-button {
    background-color: #aaa;
}

    .wishlist-content .email-a-friend-wishlist-button:hover {
        background-color: #999;
    }

.wishlist-page .share-info span {
    display: block;
    margin: 0 0 5px;
}

.wishlist-page .share-info a {
    font-weight: 500;
    color: #444;
}

.wishlist-page .share-info {
    text-align: center;
    padding-top: 30px;
}

.common-buttons {
    padding: 20px 10px;
    text-align: right;
    background-color: whitesmoke;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #e2e2e2;
}

    .common-buttons > :nth-child(2) {
        background-color: #999;
    }

.shopping-cart-page .common-buttons input:first-child:hover,
.cart-footer .checkout-button:hover {
    background-color: #248ece;
}

.shopping-cart-page .common-buttons input:hover {
    background-color: #999;
}

.cart-footer .totals {
    background-color: #f9f9f9;
    padding: 10px;
}

.checkout-attributes {
    padding: 20px 0;
    border-bottom: 1px solid #e2e2e2;
}

.cart-collaterals .coupon-code input[type="submit"] {
    float: left;
    width: 40%;
    height: 36px;
    padding: 0;
}

.cart-collaterals .coupon-code input[type="text"] {
    float: left;
    width: 60%;
    height: 36px;
    margin: 0 -1px 0 0;
}

.cart-collaterals .button-2:hover {
    background-color: #999;
}

.cart-collaterals .button-2 {
    display: inline-block;
    border: none;
    background-color: #aaa;
    padding: 10px 15px;
    color: #fff;
    text-transform: uppercase;
}

.cart-footer .checkout-button {
    display: inline-block;
    min-width: 160px;
    border: none;
    background-color: #FF8219;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}

.shipping-options .inputs > * {
    width: 45%;
}

.shipping-options .inputs label {
    display: inline-table;
    width: 130px;
    text-align: right;
}

.shipping-options > * {
    padding: 10px 0;
}

.cart-total tr {
    line-height: 35px;
}

.terms-of-service {
    padding: 25px 0 15px 0;
}

.order-total {
    font-size: 19px;
    font-weight: 500;
    color: #FF8219;
}

.cart-total-right {
    text-align: right;
}

.order-total {
    border-bottom: 1px solid #e2e2e2;
}

/*page my acount*/
/*=========================*/
.page.account-page {
    /*background-color: #F5F6F6;*/
    border: 1px solid #e2e2e2;
    padding: 20px 0 30px;
    box-shadow: 0 4px 5px -4px rgb(0, 0, 0);
}

    .page.account-page .page-body {
        padding: 20px;
    }

.w-baner > :first-child {
    position: relative;
    padding: 10px;
    background-color: #FF8219;
    color: white;
    display: inline-block;
    padding-left: 40px;
    left: -10px;
    margin-bottom: 5px;
    padding-right: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 5px -4px black;
    border: 0;
}

    .w-baner > :first-child:before {
        content: '';
        display: block;
        width: 9px;
        position: absolute;
        left: 0px;
        bottom: -15px;
        border-width: 15px 0px 0px 8px;
        border-style: solid;
        border-color: #B75707 transparent transparent transparent;
    }

    .w-baner > :first-child:after {
        content: '';
        display: block;
        width: 20px;
        position: absolute;
        right: -20px;
        top: 0;
        border-width: 20px 0 20px 13px;
        border-style: solid;
        border-color: transparent transparent transparent #FF8219;
    }

.account-page input, .account-page select {
    margin-bottom: 8px;
    border-radius: 4px;
    border-style: double;
    border-width: thin;
    padding: 5px 7px;
    border-color: rgba(0, 0, 0, 0.25);
}

.account-page .inputs > label {
    font-weight: 100;
    text-align: right;
    width: 110px;
}

.account-page .button-2 {
    background-color: #FF8219;
    color: white;
    padding: 4px;
    width: 200px;
    margin-top: 30px;
}

.inputs.date-of-birth {
    display: inline-table;
}

.inputs .gender {
    height: 32px;
    margin-bottom: 10px;
    padding-top: 7px;
}

.title.info {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
}

.account-page .buttons {
    text-align: right;
}

.account-page.address-list-page .buttons {
    text-align: left;
}

.customer-info-page .inputs input[type="text"], .customer-info-page select#CountryId {
    width: 240px;
}

/*side menu acount*/
/*============================*/
.side-2 .block-account-navigation .listbox li::before {
    display: none;
}

.side-2 .block.block-account-navigation .title, .side-2 .block.block-account-navigation .listbox {
    background-color: transparent;
    border: 0;
}

.side-2 .block.block-account-navigation .title {
    border-bottom: 4px solid #FF8219;
    font-size: 23px;
    margin-bottom: 20px;
    color: #FF8219;
    padding: 5px 0px 7px;
    margin-right: 30px;
}

.left-acount li i {
    font-size: 16px;
    background-color: #FF8219;
    color: white;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    padding-top: 10px;
}

.left-acount li {
    padding-bottom: 10px;
}

.listbox.left-acount li a.active, .listbox.left-acount li a:hover {
    color: #FF8219;
    font-weight: 500;
    border-bottom: 2px solid;
}
/*address*/
/*========================*/
ul.info li label {
    width: 120px;
    color: #8E8E8E;
}

input.button-1.edit-address-button {
    background: url(/Themes/DefaultClean/Content/images/user/pen.png);
    background-size: 26px;
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 0;
}

input.button-1.delete-address-button {
    background: url(/Themes/DefaultClean/Content/images/user/trash.png);
    background-size: 26px;
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 0;
}

input.button-1.add-address-button {
    background: url(/Themes/DefaultClean/Content/images/user/add_user.png);
    background-size: 26px;
    background-position: center;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border: 0;
}

.address-item input.button-1:hover {
    box-shadow: 0 14px 6px -12px #FF8219;
}

.edit-address .inputs select {
    width: 185px;
}

.section.address-item .title {
    font-size: 20px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
}

.img-profile {
    width: 140px;
    margin: 0 0 0 auto;
    border: 1px solid #e2e2e2;
    padding: 5px;
}

p.photo {
    width: 140px;
    margin: 0 0 0 auto;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #e2e2e2;
}

    p.photo i {
        font-size: 23px;
        padding: 10px 0;
        color: #FF8219;
    }

.buttons .button-1 {
    background-color: #FF8219;
    color: white;
    box-shadow: 0px 3px 0px 0px rgb(218, 111, 21);
    text-transform: uppercase;
    border-style: none;
    border-radius: 2px;
}
/*filter list*/
/*=========================*/
.iner-filter {
    border: 1px solid #e2e2e2;
}

    .iner-filter .block-content ul.category-list li.has-children:hover:before {
        color: #ff8219;
    }

    .iner-filter .block-content {
        background-color: #f2f2f2;
    }

    .iner-filter .block-title {
        background-color: #ff8219;
        color: white;
        padding: 10px;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
    }

    .iner-filter .block-content ul.category-list {
        padding: 10px;
    }

        .iner-filter .block-content ul.category-list li {
            padding: 2px 0;
            position: relative;
            line-height: 18px;
            font-size: 13px;
        }

li.has-children ul {
    padding-left: 15px;
    display: none;
}

.iner-filter .block-content ul.category-list li.has-children:before {
    font-family: FontAwesome;
    content: "\f067";
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 0px;
    font-size: 15px;
    color: #ff8219;
}

.iner-filter .block-content ul.category-list li.has-children.opened:before {
    content: "\f068";
}

.iner-filter .block-title:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    text-align: center;
    padding: 2px 6px;
    content: "\f0d8";
    font-size: 13px;
}

.iner-filter .block-title:hover:after {
    background-color: #FF8219;
    color: white;
}

.iner-filter .block-title.tutup:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*Category level I*/
/*===========================*/
.heightshow.xs {
    height: auto;
}

.slick-related .price-product .strip {
    color: #FF8219;
}

.slick-related .desc-box-product .add-info {
    background-color: #e6e7e9;
}

    .slick-related .desc-box-product .add-info span.price.actual-price {
        color: black;
    }

.slick-related button.slick-prev:before {
    content: "\f053";
    font-family: 'FontAwesome';
    color: black;
}

.slick-related button.slick-next:before {
    content: "\f054";
    font-family: 'FontAwesome';
    color: black;
}

.slick-related {
    margin: 0 -5px;
}

.page.category-page {
    background-color: #fdfdfd;
    border: 1px solid #e2e2e2;
    padding: 10px;
}

.category-description {
    height: 150px;
    overflow: auto;
    border: 1px solid #e2e2e2;
    padding: 10px;
    margin: 20px 0;
    background-color: white;
}

.page.category-page .page-title h1 {
    margin: 0 -11px;
    border-bottom: 2px solid;
    border-top: 0;
}

.category-page .product-grid.featured-product-grid {
    padding: 15px 0;
}

.category-page .product-grid.featured-product-grid {
    padding: 15px 0;
}

.page.category-page .product-grid.featured-product-grid .item-grid > * {
    width: inherit;
    float: none;
    padding: 0;
}

.page.category-page .product-grid.featured-product-grid .item-box {
    background-color: white;
}

.category-grid.sub-category-grid.clearfix {
    background-color: white;
    padding: 10px 0;
    border: 1px solid #e2e2e2;
    border-bottom: 0;
    margin: 0;
}
/*review produk*/
/*================================*/
.product-review-item label {
    color: rebeccapurple;
}

.review-info {
    padding-top: 20px;
}

span.date span {
    color: #999;
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1px;
}

.review-item-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 15px;
}

.helpfull {
    text-align: right;
}

.review-item-head > * {
    width: 50%;
    float: left;
}

.divrating > * {
    display: inline-table;
}

.review-iner .page-title h1 {
    font-size: 21px;
    text-align: center;
    color: #6d6d6d;
}

    .review-iner .page-title h1 a {
        color: #6d6d6d;
    }

.review-iner .page-body .title {
    text-align: center;
    padding: 0;
    font-size: 18px;
}

.review-iner .message-error {
    text-align: center;
    color: red;
}

.review-iner .review-rating ul > * {
    display: inline-block;
}

.review-iner .fieldset .form-fields {
    padding: 30px;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px 0;
    border: 1px solid #e2e2e2;
}

.write-review input[type=text], .write-review textarea {
    display: inline-block;
    width: 35%;
    background-color: white;
    border-style: inset;
    border-width: thin;
    border-color: #E2E2e2;
    padding: 4px;
    margin: 4px 0;
}

.write-review textarea {
    min-height: 120px;
}

.write-review .review-rating label {
    width: 130px;
    color: #9A9A9A;
}

.write-review .buttons {
    text-align: center;
}

.write-review .product-review-list {
    margin-top: 20px;
}

.product-review-item:last-child {
    margin-bottom: 30px;
}

.product-review-item {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
}

.product-review-list .product-review-item:last-child {
    margin-bottom: 30px;
}

.product-review-list .product-review-item {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e2e2e2;
    box-shadow: 0px 5px 0px -1px #dadada;
}

.review-iner .inputs > * {
    vertical-align: top;
}

    .review-iner .inputs > *:first-child {
        margin: 3px 0;
    }

.slick-onmobile .product-item {
    border: 1px solid #e2e2e2;
}

/*sesi Login*/
/*============================*/

.admin-header-links {
    z-index: 3;
    position: relative;
    background-color: white;
}

/*cekOut*/
/*==============================*/
.step-title > * {
    display: inline-block;
}
ol.opc > li .step.a-item {
    background-color: white;
    padding: 20px 10px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
ol.opc > li .step-title {
    padding: 10px;
    background-color: whitesmoke;
}
.step-title h2.title {
    margin: 0;
    padding: 0;
}
ol.opc {
    border: 1px solid #e2e2e2;
}
ol.opc li .buttons {
    margin-top: 20px;
    text-align: right;
}
ol.opc li .buttons .button-1 {
    padding: 5px 20px;
}
.section.payment-method ul.method-list > * {
    text-align: center;
}
ol.opc li:not(:last-child) .step-title {
    border-bottom: 1px solid #e2e2e2;
}
.buttons p.back-link {
    position: relative;
}
.buttons p.back-link a {
    position: absolute;
    left: 0px;
}
ol.opc li.tab-section.active .step-title {
    border-bottom: 2px solid #ff8219;
    background-color: transparent;
    color: #ff8219;
}
.button-1.gren {
    background-color: #28CC8B;
    box-shadow: 0px 3px 0px 0px rgb(32, 166, 113);
}
.step-title span.number {
    font-size: 16px;
    font-weight: bold;
    padding-right: 10px;
}
.button-1.red {
    background: #FF3200;
    box-shadow: 0px 3px 0px 0px #cb2800;
}
.item-box.mr {
    padding: 5px;
    border: none;
}
.item-box.mr .product-item {
    border: 1px solid #e2e2e2;
}
/*search val*/
/*================================*/
.search-input form > * {
    display: inline-block;
}
.search-input form .form-fields > .basic-search > * {
    display: inline-block;
}
.search-input form {
    padding: 10px;
    border: 1px solid #e2e2e2;
}
/*popup*/
/*===========================*/
.bar-notification.success .close:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.16);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
}
.bar-notification.success p.content {
    text-align: center;
    width: 220px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    z-index: 5;
    display: block;
    top: 40%;
    position: fixed;
    left: 0;
    right: 0;
}
.bar-notification.success .close {
    opacity: 1;
    z-index: 1;
}
.bar-notification.success .content a {
    color: #FF8219;
    font-weight: bold;
    border-bottom: 1px solid;
}

/*popup*/
/*===============================*/
button.ui-dialog-titlebar-close:before {
    content: 'X';
    font-size: 12px;
    top: 0;
    position: absolute;
    left: 4px;
    color: #acacac;
}
button.ui-dialog-titlebar-close {
    background-color: transparent;
    border-style: none;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    position: fixed;
    top: 5% !important;
}
.ui-widget-header {
    background: transparent;
    border: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    position: relative;
    margin: 0;
    height: 1px;
}
.ui-dialog .ui-dialog-title{
    width: inherit;
}
.ui-dialog .ui-dialog-titlebar-close{
    margin: 5px 0 0 0;
    z-index: 1;
}
/*end popup*/


.heightshow .width-cat {
    width: 133px;
    display: inline-block;
    padding: 5px;
}
.heightshow .width-cat .fix-width {
    height: 100px;
}
.heightshow .width-cat .fix-width img {
    left: 0;
    right: 0;
}

.blocked.clearfix > * {
    display: inline-table;
}