
<div class="col-sm-4 col-md-2 no-pad list-product-left">
    <div class="title1">Safety</div>
    <div class="body1 hidden-xs ">
        <ul>
            <li>Safety Eyewear</li>
            <li>Safety Helmets</li>
            <li>Safety Gloves</li>
            <li>Safety Eyewear</li>
            <li>Safety Gloves</li>
            <li>Workwear</li>
            <li>Safety Eyewear</li>
            <li class="gmbar-promo"><img src="/Themes/DefaultClean/Content/images/promo.jpg" /></li>
        </ul>
    </div>
</div>
<div class="hidden-sm hidden-xs col-md-4 no-pad slick-onbody">
    <div class="content-slider">
        <img src="/Themes/DefaultClean/Content/images/img_sementara/1.jpg" />
        <img src="/Themes/DefaultClean/Content/images/img_sementara/2.jpg" />
        <img src="/Themes/DefaultClean/Content/images/img_sementara/3.jpg" />
    </div>
</div>
