
<div class="hotlist">
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a class="image-link" href="#">
                <img src="@Url.Content("~/Themes/DefaultClean/Content/images/img_sementara/hotlist.jpg")" alt=""></a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a class="image-link" href="#">
                <img src="@Url.Content("~/Themes/DefaultClean/Content/images/img_sementara/hotlist.jpg")" alt=" ">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a class="image-link" href="#">
                <img src="@Url.Content("~/Themes/DefaultClean/Content/images/img_sementara/hotlist.jpg")" alt="" >
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a class="image-link" href="#">
                <img src="@Url.Content("~/Themes/DefaultClean/Content/images/img_sementara/hotlist.jpg")" alt="">
            </a>
        </div>
    </div>
</div>
