
<div class="top-category hidden-xs">
    <h3 class="title-topc">
        <span class="content"><strong>Top Categories</strong></span>
    </h3>
    <ul class="top-cat">
        <li>
            <div class="top-heading">
                <span class="cat-icon t1"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t2"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t3"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t4"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t5"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t5"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t5"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
        <li>
            <div class="top-heading">
                <span class="cat-icon t5"></span>
                <a href="">Test &amp; Measure</a>
            </div>
            <ul class="sub-top-cat">
                <li><a href="">Measuring &amp; Layout Tools</a></li>
                <li><a href="">Electrical Power Testing</a></li>
                <li><a class="view-more" href="#">more...</a></li>
            </ul>
        </li>
    </ul>
</div>