<div class=" top-selling">
    <h3 class="title-topc">
        <span class="content"><strong>TOP SELLING PRODUCTS</strong></span>
    </h3>
    <div class="product-slick">
        <div class="produk-slick">
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
            <div class="item-produk-slick">
                <img src="http://ecomerce.indotrading.com/content/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg" />
                <div class="slick-desc">Jackly Magnetic Screwdriver Tool Kit, 31 Pcs, 6036</div>
                <span class="price-product">
                    <span class="strip">Rs.206</span>
                    <span class="price">Rs.169</span>
                    <span class="diskon">-88%</span>
                </span>
            </div>
        </div>
    </div>
</div>
